<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    <link rel="stylesheet" href="styles.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="col-md-5" id="signing">

        <h1 class="col-md-6">Sign-in</h1>

        <form method="post" action="index.html"> <!--capture user sign-in details-->


            <div class="row">

                <div class="row">

                    <input type="email"
                           class="form-control col-md-6"
                           placeholder="Email"
                           ng-model="title"></input>

                </div>
                <br>

                <div class="row">

                    <input type="password"
                           class="form-control col-md-6"
                           placeholder="Password"
                           ng-model="title"></input>
                </div>

                <br>

                <div class="row">

                    <div class="col-md-6">

                        <button class="btn btn-primary">Login</button>

                    </div>

                    <div class="col-md-6">

                        <a href="">Forgot password?</a>

                    </div>
                </div>

                <br>
                <div class="row">

                    <div class="col-md-6">


                        <p>Need an account?</p>

                    </div>

                    <div class="col-md-6">

                        <a href="sign-up.html">Sign up</a>

                    </div>

                </div>

            </div>


        </form>

    </div>
</div>

</body>
</html>