<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <link rel="stylesheet" href="styles.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="col-md-5" id="signing">

        <h1 class="col-md-6">Sign-up</h1>

        <form method="post" action="index.html"> <!--capture user sign-up details-->


            <div class="row">

                <!--   <div class="row">

                       <div class="col-md-6" id="profile">


                           <div class="user profile">

                               <img class="profile">

                           </div>

                       </div>

                   </div>-->


                <div class="row">


                    <div class="form-group col-md-12">
                        <input type="text"
                               class="form-control"
                               placeholder="First name"
                               ng-model="title"></input>
                    </div>

                </div>


                <div class="row">

                    <div class="form-group col-md-12">
                        <input type="text"
                               class="form-control"
                               placeholder="Surname"
                               ng-model="title"></input>
                    </div>
                </div>


                <div class="row">

                    <div class="form-group col-md-12">
                        <input type="email"
                               class="form-control"
                               placeholder="Email"
                               ng-model="title"></input>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-12">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               ng-model="title"></input>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <label>
                            <h3>Favourite colour</h3>
                        </label>
                    </div>

                    <br>

                    <div class="col-md-6">

                        <select name="favColour"><!--Have an option for Other: -->
                            <h3>
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                                <option value="purple">Purple</option>
                            </h3>

                        </select>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6">

                    <button class="btn btn-warning">Cancel</button>

                </div>

                <div class="col-md-6">

                    <button class="btn btn-primary">Sign-up</button>

                </div>

            </div>

        </form>


    </div>

</div>

</body>
</html>