
.Signinglinks {
    padding-top: 40%;
}

#signing {

    margin-top: 5%;
    text-align: center;

}

/*Links deco*/
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: peachpuff;
    background-color: transparent;
    text-decoration: underline;
}

/*

!*The profile picture*!

.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    !*
    border-radius: 50%;
    *!

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile {
    background-image: url('http://placehold.it/300x200');
}

#profile{

    text-align: center;

}
*/

